# Database
METRON_POSTGRES_HOST=vps
METRON_POSTGRES_USER=td
METRON_POSTGRES_PASSWORD=td
METRON_POSTGRES_DB=td
METRON_POSTGRES_PORT=5432

# Redis
METRON_REDIS_PORT=6379

# Misc
METRON_CORS_ORIGINS='["http://127.0.0.1:5173"]'
METRON_FRONTEND_BASE_URL=http://127.0.0.1:5173

METRON_LOG_LEVEL=DEBUG
METRON_ENV=development

# Auth0
METRON_AUTH0_AUDIENCE=your-api-identifier
