# Database
BESSEL_POSTGRES_HOST=vps
BESSEL_POSTGRES_USER=td
BESSEL_POSTGRES_PASSWORD=td
BESSEL_POSTGRES_DB=td
BESSEL_POSTGRES_PORT=5432

# Redis
BESSEL_REDIS_PORT=6379

# Misc
BESSEL_CORS_ORIGINS='["http://127.0.0.1:5173"]'
BESSEL_FRONTEND_BASE_URL=http://127.0.0.1:5173

BESSEL_LOG_LEVEL=DEBUG
BESSEL_ENV=development

# Google Places API
BESSEL_GOOGLE_PLACES_API_KEY=
